.Home {
  height: 100vh;
  width: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home__logo {
  width: 80px;
}
